<div *ngIf="!loading" [formGroup]="productContractForm">
  <div class="form-group">
    <label for="">Tem taxa de cadastro?</label>
    <input
      [formControlName]="'hasTaxRegister'"
      type="radio"
      value="true"
      (click)="disableField(false)"
    />
    <label for="">Sim</label>
    <input
      [formControlName]="'hasTaxRegister'"
      type="radio"
      value="false"
      (click)="disableField(true)"
    />
    <label for="">Não</label>
  </div>
  <div class="form-group">
    <label for="">Quantas parcelas</label>
    <input
      [formControlName]="'parcelsTaxRegister'"
      type="text"
      [disableControl]="disable"
    />
  </div>
</div>
