<div *ngIf="!loading" [formGroup]="productForm">
  <div formArrayName="teachingModality">
    <div *ngFor="let teachingModality of teachingModalityForm.controls">
       <ng-container [formGroup]="teachingModality">
        <input
          type="checkbox"
          id="course-level-{{teachingModality.get('id').value}}"
          formControlName="selected"
          (click)="markAsTouched(teachingModality)"
          > {{teachingModality.get('name').value}}
      </ng-container>
    </div>
  </div>
  <small *ngIf="teachingModalityForm.errors?.required && teachingModalityForm.touched">Ao menos uma opção deve ser preenchida</small>
</div>
