<app-loading></app-loading>
<form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <app-product-form
    [(productForm)]="productForm"
    [product]="product"
  ></app-product-form>

  <app-course-level-form
    [(productForm)]="productForm"
    [courseLevels]="product?.courseLevel"
  ></app-course-level-form>
  
  <app-teaching-modality-form
    [(productForm)]="productForm"
    [teachingModalities]="product?.teachingModality"
  ></app-teaching-modality-form>

  <app-product-contract-form
    [(productForm)]="productForm"
    [productContract]="product?.productContract"
  ></app-product-contract-form>

  <app-product-multiplier-form
    [(productForm)]="productForm"
    [productMultiplierMonthlyPayment]="product?.productMultiplierMonthlyPayment"
  ></app-product-multiplier-form>

  <app-first-hiring-part-form
    [(productForm)]="productForm"
    [product]="product"
  ></app-first-hiring-part-form>

  <button type="submit">Submit</button>
</form>
